<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="FileName" value="etalon.md"/>
		<add key="SomeText" value="Example text"/>
		<add key="SearchText" value="etalon"/>
		<add key="Format" value=".md"/>
		<add key="ResourceIdForLogin" value="user"/>
		<add key="ResourceIdForPassword" value="password"/>		
		
		<add key="AccountDataFile" value="./JsonConfigs/AccountData.json"/>
		
	</appSettings>
</configuration>